<ion-tabs>

  <ion-tab-bar slot="bottom" class="ion-no-border">
    <ion-tab-button tab="work-order">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Work Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="asset">
      <ion-icon name="layers-outline"></ion-icon>
      <ion-label>Assets</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="part">
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label>Parts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="request">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Requests</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="orders">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
