ion-header ion-toolbar ion-title {
    font-size: 1.5rem !important;

    .icon_box {
        position: relative;
        padding: 0 7px;
        min-width: 55px;
        padding-top: 5px;

        img {
            margin: 0;
            width: 20px;
        }


        ion-badge {
            position: absolute;
            top: 2px;
            right: 4px;
            border-radius: 50%;
            background: var(--red_color);
            padding: 0;
            width: 14px;
            font-size: .55rem;
            font-weight: 400;
            height: 14px;
            line-height: 14px;

        }
    }
}

ion-segment {
    ion-segment-button {
        background: none !important;
        position: relative;
        font-size: 1rem;
        font-weight: 400;
        color: var(--white) !important;
        text-transform: unset !important;
        letter-spacing: 0;
        --color-checked: var(--transparent) !important;
        text-align: justify !important;
        --background-checked: var(--transparent) !important;
        --border-width: 0 !important;
        --border-radius: 0 !important;
        padding: 0px 0;
        margin: 0 5px;
        opacity: .6;

        &.segment-button-checked {
            opacity: 1;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 33px;
                height: 5px;
                border-radius: 50px;
                background: var(--white);
                margin: 0 auto;
            }
        }

        &:first-of-type {
            margin-left: 20px;
        }

        &:last-of-type {
            margin-right: 20px;
        }
    }
}


ion-list {
    margin: 0;
    margin-top: 10px;
    background: none;
    padding: 0;

    ion-item {
        padding: 15px 18px 15px 18px;
        margin: 0 auto;
        margin-bottom: 9px;
        border-radius: 8.5px;
        width: calc(100% - 14px);
        box-shadow: 0 1px 1px 1px rgb(0 0 0 / 10%);
        --background: var(--transparent);
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        --min-height: unset;
        background: var(--white);

        .item_inner {
            width: 100%;

            .order_details {
                margin-top: 20px;

                .order_img {
                    position: relative;
                    overflow: hidden;
                    min-width: 47px;
                    width: 47px;
                    height: 47px;
                    border-radius: 50%;
                    margin: 0;
                    margin-right: 17px;

                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: -50% !important;
                        right: -50% !important;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                    }

                }
            }

            h2 {
                font-size: 1rem;
                font-weight: 600;
                padding-bottom: 2px;
                color: var(--primary);
                margin: 0;

                span {
                    color: var(--text-black);
                    font-size: .95rem;
                    font-weight: 600;
                }
            }

            h3 {
                font-size: 1rem;
                font-weight: 500;
                padding-bottom: 5px;
                margin: 0;
            }

            p {
                font-size: .8rem;
                color: var(--text-light);
                font-weight: 400;
                margin: 00;
            }


        }
    }
}

ion-slides {
    ion-slide {
        display: block;
        min-height: calc(100vh - 165px);
        max-height: calc(100vh - 165px);
        overflow: hidden;
        overflow-y: auto;
        text-align: initial;
        position: relative;
    }
}
