<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title style="color: white;letter-spacing: 1px;font-family: 'semi-bold';">
      Asset
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let asset of assets; trackBy: trackId" #slidingItem>
      <ion-item lines="full" (click)="view(asset)">
        <ion-label text-wrap>
          <p>{{asset.id}}</p>
          <ion-text color="primary"><h2>{{asset.name}}</h2></ion-text>
          <p>{{asset.make}}</p>
          <p>{{asset.model}}</p>
          <p>{{asset.assetId}}</p>
          <p>{{asset.barCode}}</p>
          <p>{{asset.serialNumber}}</p>
          <p>{{asset.area}}</p>
          <p>{{asset.description}}</p>
          <p>{{asset.additionalInfo}}</p>
          <p>{{asset.purchaseDate | date:'medium'}}</p>
          <p>{{asset.serviceDate | date:'medium'}}</p>
          <p>{{asset.purchasePrice}}</p>
          <p>{{asset.warrantyExpirationDate | date:'medium'}}</p>
          <p>{{asset.residualPrice}}</p>
          <p>{{asset.usefulLife}}</p>
          <!-- todo: special handling for translating enum - {{'DepreciationMethod.' + asset.depreciationMethod}}" -->
          <p>{{asset.depreciationMethod}}</p>
          <p>{{asset.customFields}}</p>
          <p>{{asset.isChild}}</p>
          <p>{{asset.isFunctional}}</p>
          <p>{{asset.isActive}}</p>
          <p>{{asset.createDate | date:'medium'}}</p>
          <p>{{asset.updateDate | date:'medium'}}</p>
          <p>{{asset.createdBy}}</p>
          <p>{{asset.updatedBy}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="edit(slidingItem, asset)"> {{ 'EDIT_BUTTON' | translate }} </ion-item-option>
        <ion-item-option color="danger" (click)="delete(asset)"> {{ 'DELETE_BUTTON' | translate }} </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-item *ngIf="!assets?.length">
    <ion-label> No Assets found. </ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="new()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
