<ion-header [translucent]="true" class="header_bg bg-transparent">
  <ion-toolbar>
    <ion-title>Parts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let part of parts; trackBy: trackId" #slidingItem>
      <ion-item lines="full" (click)="view(part)">
        <ion-label text-wrap>
          <p>{{part.id}}</p>
          <ion-text color="primary"><h2>{{part.name}}</h2></ion-text>
          <p>{{part.partId}}</p>
          <p>{{part.barCode}}</p>
          <p>{{part.description}}</p>
          <p>{{part.costPerUnit}}</p>
          <p>{{part.quantity}}</p>
          <p>{{part.minQuantity}}</p>
          <p>{{part.serialNumber}}</p>
          <p>{{part.make}}</p>
          <p>{{part.model}}</p>
          <p>{{part.area}}</p>
          <p>{{part.additionalInfo}}</p>
          <p>{{part.customFields}}</p>
          <p>{{part.isChild}}</p>
          <p>{{part.isActive}}</p>
          <p>{{part.isTool}}</p>
          <p>{{part.createDate | date:'medium'}}</p>
          <p>{{part.updateDate | date:'medium'}}</p>
          <p>{{part.createdBy}}</p>
          <p>{{part.updatedBy}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="edit(slidingItem, part)"> {{ 'EDIT_BUTTON' | translate }} </ion-item-option>
        <ion-item-option color="danger" (click)="delete(part)"> {{ 'DELETE_BUTTON' | translate }} </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-item *ngIf="!parts?.length">
    <ion-label> No Parts found. </ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="new()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
